* {
    overflow: hidden;
}

body {
    margin: 0px;
}

#view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - var(--scrollbar-width));
    height: calc(100vh - var(--scrollbar-height));
    padding: 0;
}

img, video, #no-content {
    position: absolute;
    display: none;
    max-width: none;
    max-height: none;
}

p {
    position: fixed;
    left: 10px;
    font-family: sans-serif;
    font-size: 12px;
}

input {
    position: fixed;
    bottom: 10px;
}

label {
    position: fixed;
    bottom: 12px;
    left: 20px;
    font-family: sans-serif;
    font-size: 12px;
}

#no-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    display: none;
}
